{% extends "blog/base.html" %}
{% load static %}
{%block content %}
	<h1> Encoder une chaîne de caractères en base64/md5</h1>
	<p>Pour encoder une chaîne de caractères en base64, utiliser la commande suivante :</p>
	<img src="{% static 'blog/images/enc1.png'%}" class="img-fluid" alt="Responsive image"><br/>
	<p>Pour encoder une chaîne de caractères en md5, utiliser la commande suivante:</p>
	<img src="{% static 'blog/images/enc2.png'%}" class="img-fluid" alt="Responsive image"><br/>

{%endblock content %}