{% extends "blog/base.html" %}
{% load static %}
{%block content %}
	<h1>Exporter ou importer un certificat au format PKCS#12</h1>
	<span style="text-decoration: underline;">Pour exporter un certificat PEM au format PKCS#12 :</span>
	<p>1 - Générer le certificat au format PEM :</p>
	<img src="{% static 'blog/images/ep1.png'%}" class="img-fluid" alt="Responsive image"><br/>
	<p>2 - Exporter le certificat au format PKCS#12 :</p>
	<img src="{% static 'blog/images/ep2.png'%}" class="img-fluid" alt="Responsive image"><br/>
	<p style="color:red;">Renseigner un phrase de passe si nécessaire.</p>
	<span style="text-decoration: underline;">Convertir un certificat PKCS#12 au format PEM :</span>
	<img src="{% static 'blog/images/ep3.png'%}" class="img-fluid" alt="Responsive image"><br/>
	<p style="color:red;">Saisir la phrase de passe si nécessaire.</p>
	<p>Pour protéger la clé privée à l'aide d'une phrase de passe :</p>
	<img src="{% static 'blog/images/ep4.png'%}" class="img-fluid" alt="Responsive image"><br/>
	<p style="color:red;">La saisie d'une phrase de passe pour la protection de la clé privée est obligatoire.</p>
	
{%endblock content %}