{% extends "blog/base.html" %}
{% load static %}
{%block content %}
	<h1>Extraire les informations d'un certificat</h1>
	<p>La commande suivante affiche toutes les informations du certificat indiqué :</p>
	<img src="{% static 'blog/images/ex1.png'%}" class="img-fluid" alt="Responsive image"><br/>
	<p>Qui a émis le certificat ?</p>
	<img src="{% static 'blog/images/ex2.png'%}" class="img-fluid" alt="Responsive image"><br/>
	<p>Pour qui a-t-il été émis ?</p>
	<img src="{% static 'blog/images/ex3.png'%}" class="img-fluid" alt="Responsive image"><br/>
	<p>Quelle est sa période de validité ?</p>
	<img src="{% static 'blog/images/ex4.png'%}" class="img-fluid" alt="Responsive image"><br/>
	<p>Toutes les infos précédentes :</p>
	<img src="{% static 'blog/images/ex5.png'%}" class="img-fluid" alt="Responsive image"><br/>
	<p>Quelle est sa valeur de hachage ?</p>
	<img src="{% static 'blog/images/ex6.png'%}" class="img-fluid" alt="Responsive image"><br/>
	<p>Quelle est son empreinte MD5 ?</p>
	<img src="{% static 'blog/images/ex7.png'%}" class="img-fluid" alt="Responsive image"><br/>
{%endblock content %}